body{
    border: 2px solid black;
    background-color: rgb(67, 35, 119);
    text-emphasis-color: red;
}
form{
    background-color:  rgb(117, 74, 187);
}
h1{
    text-align: center;
    text-decoration: dotted;
    color: rgb(182, 209, 27);
}
button{
    color: rgb(19, 209, 130);
    position: relative;
    
}
h2{
    text-align: center;
}
